"*":
  core:
    telemetryConsent: "no"
    themes: [
      "bliss-ui"
      "bliss-syntax"
    ]
  editor:
    tabLength: 4
    tabType: "soft"
  "exception-reporting":
    userId: "38def6b7-7275-47a0-a4ab-f5269c6a7492"
  "linter-eslint": {}
  "linter-ui-default":
    panelHeight: 152
    showPanel: true
  "spell-check":
    locales: [
      "en-CA"
    ]
  welcome:
    showOnStartup: false
".js.source":
  editor:
    tabLength: 2
".json.source":
  editor:
    tabLength: 2
